:root {
    --primario: #8907f3;
    --secundario: #E74C3C;

    --resaltado: #FFC107;
    --texto: #F8F9FA;
    --parrafo: #bbbbbb;
    --fondo: #161616;

    --gris: #181818;
    --verde: #4cce52;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

.section-fade-out {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    color: white;
    background-size: cover;
    background-position: center;
}

.section-fade-out img {
    width: 100%;
}

.section-fade-out:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70vh;
    content: '';
    background: linear-gradient(rgba(80, 80, 80, 0), rgba(39, 39, 39, 0.493), var(--fondo));
}

body {
    height: 100vh;
    background: #131313;
}


main {
    color: var(--parrafo);
    background: #131313;
}

footer {
    padding: 2.5rem 0;
    background-color: var(--fondo);
    margin-bottom: 0;
}

.hover {
    font-weight: bold;
    color: #000;
    text-decoration: none!important;
    transition: 0.5s ease-in-out;
    animation:8s ease-in-out forwards alternate c-color infinite;
    box-shadow: #0b0b0b 0 0 1rem 0;
}

.hover:hover {
    transform: scale(1.1) rotate(-6deg);
}

/* Animaciones */
@keyframes c-color {
    0% {
        box-shadow: .7em -.4em rgba(var(--fondo));
        -webkit-transform: translateY(.10em);
    }

    100% {
        box-shadow: inset.7em -.4em rgba(var(--fondo), .20%);
        -webkit-transform: translateY(-.10em);
        opacity: 0;
    }
}



.a {
    text-decoration: none;
}

.d-f {
    display: flex;
}

.btn1 {
    padding: 8px 2px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #181818;
    border-radius: 8px;
    animation: 30s c-color ease-in-out infinite;
}

.btn1 span {
    padding: 5px 10px;
    border-radius: 5px;
    background: #181818;
}

.nav-links {
    width: 196;
    height: 24;
    padding: 8px 16px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    background: #131313;
    color: #acacac;
    transition: 0.3s;
    border-bottom: solid #1a1a1a;
}

.nav-links:hover {
    background: #383838;
    border-bottom: solid #7c7c7c;
}

/*Menu*/
.bajar {
    margin-top: 20px;
}

.custom-hr {
    border: none;
    /* Elimina el borde predeterminado */
    height: 5px;
    /* Establece la altura deseada */
    background-color: #000;
    /* Establece el color de fondo */
    margin: 50px 0px;
    /* Ajusta los márgenes superior e inferior según sea necesario */
}

@keyframes c-color {
    0% {
        background-color: #ff009d;
    }

    25% {
        background-color: #0066ff;
    }

    50% {
        background-color: #00ff00;
    }

    75% {
        background-color: #f1de2c;
    }

    100% {
        background-color: #ff009d;
    }
}

.carta {
    border-radius: 10px;
    background: #181818;
    padding: 0px 0px 20px 0px;
}

.carta img {
    border-radius: 0px 10px;
}
.card{
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}

.img-z {
    width: 20rem;
}

.color {
    color: var(--texto);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--fondo);
    transition: 0.5s;
}

.home-section {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: 0.5s;
}

@media (max-width: 30em) {
    .sidebar {
        height: 100%;
        width: 0px;
        transition: 0.5s;
    }

    .home-section {
        position: relative;
        left: 0px;
        width: calc(100% - 0px);
        transition: 0.5s;
    }

}

/* Carousel base class */
.carousel {
    margin-bottom: 3rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 13rem;
}

/* Barra de busqueda */
.container1 {
    padding: 2%;
    background: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(237, 229, 229, 0.2);
    display: flex;
    align-items: center;
    border-radius: 100px;
    backdrop-filter: blur(4px) saturate(100%);
}

.search-bar input {
    font-size: 15px;
    background: transparent;
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    outline: none;
    transition: .2s ease;
}

::-webkit-input-placeholder {
    color: #fff;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border: 0;
    border-radius: 0px 50px 50px 0px;
    width: 60px;
    height: 60px;
    background: #043331;
    cursor: pointer;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

/* estilos iniciar sesion */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav1 {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: 100px;
    line-height: 100px;
    z-index: 100;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container,
    .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }
}

.c1 {
    width: 70%;
    padding: 1rem;
    background: var(--fondo);
    z-index: 10;
}

.c1 h3 {
    font-weight: 100;
    font-size: 4rem;
}

.profile {
    position: relative;
    margin-top: -6rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: #131313 0 0 1rem;
}

.inf {
    justify-content: space-between;
}

.profile img {
    height: 100%;
}

.parrafo {
    justify-content: center;
    padding: 2rem;
}

.parrafo textarea {
    width: 100%;
    height: 100vh;
    color: var(--texto);
    background: var(--gris);
    border: #0b0b0b;
}

.c2 {
    width: 30%;
    padding: 10px;
    background: var(--gris);
    z-index: 10;
}

.carrito {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1200px) {
    .targ {
        width: 60rem;
    }
}

.titulo h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
}

.boton-amarillo {
    background-color: #e08709;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none
}

.boton-amarillo:hover {
    background-color: #c77808;
    cursor: pointer
}

.boton-amarillo-block {
    background-color: #e08709;
    border: none;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none
}

.boton-amarillo-block:hover {
    background-color: #c77808;
    cursor: pointer
}

.boton-verde {
    background-color: var(--verde);
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none
}

.boton-verde:hover {
    background-color: #619800;
    cursor: pointer
}

.boton-rojo-block {
    background-color: #df2323;
    border: none;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    width: 100%
}

.boton-rojo-block:hover {
    background-color: #cb1e1e;
    cursor: pointer
}

.boton-verde-block {
    background-color: var(--verde);
    border: none;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none
}

.boton-verde-block:hover {
    background-color: #619800;
    cursor: pointer
}

.boton-amarillo-block:hover {
    background-color: #c77808;
    cursor: pointer;
}

.boton-verde {
    background-color: var(--verde);
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: inline-block;
    border: none;
    border-radius: 10px;
}

.boton-verde:hover {
    background-color: #3ea143;
    cursor: pointer;
}

.boton-rojo-block {
    background-color: rgb(223, 35, 35);
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: block;
    border: none;
    width: 100%;
    border-radius: 10px;
}

.boton-rojo-block:hover {
    background-color: #cb1e1e;
    cursor: pointer;
}

.boton-verde-block {
    background-color: var(--verde);
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: block;
    border: none;
    border-radius: 10px;
}

.boton-verde-block:hover {
    background-color: var(--verde);
    cursor: pointer;
}


.alerta {
    padding: 0.5rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 10px;
}

.alerta.error {
    background-color: rgb(223, 35, 35);
    border-radius: 10px;
}

.alerta.exito {
    background-color: #71B100;
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
}

table.propiedades thead {
    background: #313131;
}

table.propiedades thead th {
    color: #FFFFFF;
    padding: 2rem;
}

table.propiedades .imagen-tabla {
    width: 10rem;
}

/*  estilos acerca de */
* {
    scroll-behavior: smooth;
}

.body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#181818, #333333);
}

.k {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.k img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.k::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(to top, #131313, #131313c5, #13131300);
    z-index: 100;
}

.k img#star {
    z-index: 5;
}

.k img#moon {
    z-index: 9;
}

.k img#mountains_behind {
    z-index: 10;
}

.k img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #141414;
    color: var(--texto);
    font-size: 1.5em;
    z-index: 11;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 80px;
    background: #131313;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

.cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h22 {
    width: 150%;
    margin-top: -10rem;
    z-index: 1000;
}