* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: rgb(20, 20, 20);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: rgba(10, 10, 10, 0.514);
    animation: 4s circulo ease-in-out infinite;
}

.contenedor div img {
    max-width: 85%;
    max-height: 85%;
}

@keyframes circulo {
    0% {
        width: 100px;
        border-radius: 100px;
    }

    50% {
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }

    100% {
        width: 100px;
        border-radius: 100px;
    }
}
